@model AggregatorServer.Models.LoginModel
@{
    ViewBag.Title = "Вход";
}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h5>Вход на сайт</h5>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="input-field">
                    @Html.LabelFor(model => Model.Login)
                    @Html.EditorFor(model => Model.Login)
                    @Html.ValidationMessageFor(model => Model.Login, "", new { @class = "materialize-red-text" })
                </div>
                <div class="input-field">
                    @Html.LabelFor(model => Model.Password)
                    @Html.EditorFor(model => Model.Password)
                    @Html.ValidationMessageFor(model => Model.Password, "", new { @class = "materialize-red-text" })
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="materialize-red-text">@Html.ValidationSummary(true)</div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn col s12" id="login_button">Войти</button>
                    <a href="/Home/Index" class="waves-effect waves-light btn col s12">На главную</a>
                </div>
            }
        </div>
    </div>
</div>
